<div class="contact-frame-container">
  <img src="/assets/map.png"  alt="">
  <div class="cantact-icon">
    <img src="/assets/contact-icon.png"  alt="">
  </div>

  <div class="contactme-frame">
    <div class = "font-title">Contact Me</div>
    <div class="input-content-container">
         <form action="">
            <label class="font-label">Feel free to contact me</label>
            <p></p>
            <input class="input-name" type="text" placeholder="Name" ><br>
            <input class="input-subject" type="text" placeholder="Subject" ><br>
            <input class="input-email" type="text" placeholder="Email" ><br>

            <label class="message">Your Message</label>
            <input class="input-message" type="text"  ><br>

            <button class="submit-button">Submit</button>
         </form>
    </div>

    <div class="info-container">
      <span class="font-label">Address</span>
      <span class="font-info-address">140,City Center,New York,U.S.A</span>

      <span class="font-label-phone">Phone</span>
      <span class="font-info-Phone">+1718-111-0011</span>

      <span class="font-label-email">Email</span>
      <span class="font-info-Email">anthony@company.com</span>
    </div>
  </div>
</div>
