
.container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  width: 63%;
  height: 20%;
  margin-left: 18%;

}
.name-font{
  font-size: medium;
  font-weight:1000;
  font-stretch: expanded;
  color: black;
  position: absolute;
  left:43%;
}

.notes-font-1{
  font-size: 8px;
  font-weight:300;
  font-stretch: expanded;
  color: gray;
  position: absolute;
  left:43%;
  top:20%;
}

.notes-font-2{
  font-size: 8px;
  font-weight:300;
  font-stretch: expanded;
  color: gray;
  position: absolute;
  left:47%;
  top:29%;
}


