<div class="text-frame-container">
  <div class="text-green-container">
     <span class ="text-font-date">MARCH 2016-PRESENT</span>
     <span class ="text-font-brief">CREATIVEM</span>
  </div>
  <div class="text-white-container">
    <span class="text-font-des-title">Font End Developer</span>
    <span class="text-font-des">Eulsmod massa scelerisque suspenisse formentum habitant vitae
      ullamcoper maqua iaculs quisque suspenisse formentum habitant vitae
      ullamcoper maqua iaculs quisque suspenisse formentum habitant vitae
      ullamcoper maqua iaculs quisque suspenisse formentum habitant vitae
      ullamcoper maqua iaculs quisque
    </span>
  </div>
</div>
<P></P>
<P></P>
<div class="text-frame-container">
  <div class="text-green-container">
     <span class ="text-font-date">APRIL 2014-MARCH 2016</span>
     <span class ="text-font-brief">WEBNOTE</span>
  </div>
  <div class="text-white-container">
    <span class="text-font-des-title">Web Developer</span>
    <span class="text-font-des">Eulsmod massa scelerisque suspenisse formentum habitant vitae
      ullamcoper maqua iaculs quisque suspenisse formentum habitant vitae
      ullamcoper maqua iaculs quisque suspenisse formentum habitant vitae
      ullamcoper maqua iaculs quisque suspenisse formentum habitant vitae
      ullamcoper maqua iaculs quisque
    </span>
  </div>
</div>

<P></P>
<P></P>
<div class="text-frame-container">
  <div class="text-green-container">
     <span class ="text-font-date">APRIL 2013-FEBRUARY 2014</span>
     <span class ="text-font-brief">WEBM</span>
  </div>
  <div class="text-white-container">
    <span class="text-font-des-title">Intern</span>
    <span class="text-font-des">Eulsmod massa scelerisque suspenisse formentum habitant vitae
      ullamcoper maqua iaculs quisque suspenisse formentum habitant vitae
      ullamcoper maqua iaculs quisque suspenisse formentum habitant vitae
      ullamcoper maqua iaculs quisque suspenisse formentum habitant vitae
      ullamcoper maqua iaculs quisque
    </span>
  </div>
</div>
<P></P>
<P></P>
<P></P>
<P></P>
<P></P>

<h1 class="title-font">Education</h1>

<div class="text-frame-container">
  <div class="text-green-container">
     <span class ="text-font-date">2013-2015</span>
     <span class ="text-font-brief">Master's Degree</span>
  </div>
  <div class="text-white-container">
    <span class="text-font-des-title">Master of Information Technology</span>
    <span class="text-font-des-major">UNIVERSITY OF COMPUTER</span>
    <span class="text-font-des">Eulsmod massa scelerisque suspenisse formentum habitant vitae
      ullamcoper maqua iaculs quisque suspenisse formentum habitant vitae
      ullamcoper maqua iaculs quisque suspenisse formentum habitant vitae

    </span>
  </div>
</div>
<P></P>
<P></P>
<div class="text-frame-container">
  <div class="text-green-container">
     <span class ="text-font-date">2009-2013</span>
     <span class ="text-font-brief">Bachelor's Degree</span>
  </div>
  <div class="text-white-container">
    <span class="text-font-des-title">Web Developer</span>
    <span class="text-font-des-major">UNIVERSITY OF COMPUTER</span>
    <span class="text-font-des">Eulsmod massa scelerisque suspenisse formentum habitant vitae
      ullamcoper maqua iaculs quisque suspenisse formentum habitant vitae
      ullamcoper maqua iaculs quisque suspenisse formentum habitant vitae

    </span>
  </div>
</div>

<P></P>
<P></P>
<div class="text-frame-container">
  <div class="text-green-container">
     <span class ="text-font-date">2007-2009</span>
     <span class ="text-font-brief">High School</span>
  </div>
  <div class="text-white-container">
    <span class="text-font-des-title">Intern</span>
    <span class="text-font-des-major">SCHOOL OF SECONDARY BOARD</span>
    <span class="text-font-des">Eulsmod massa scelerisque suspenisse formentum habitant vitae
      ullamcoper maqua iaculs quisque suspenisse formentum habitant vitae
      ullamcoper maqua iaculs quisque suspenisse formentum habitant vitae

    </span>
  </div>
</div>
